{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'orbioUI/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        function delay(delayInms) {
          return new Promise(resolve => {
            setTimeout(() => {
              resolve(2);
            }, delayInms);
          });
        }
    </script>

</head>

<body>

<img src="/media/orbioUI/background/ellipse-blue.png" class="ellipse ellipse-blue">
<img src="/media/orbioUI/background/ellipse-green.png" class="ellipse ellipse-green">

<div id="main">
    {% block content %}

    {% endblock %}
</div>

</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>



</html>