{% extends "orbioUI/base.html" %}

{% block content %}


{% load static %}


<script src="{% static 'orbioUI/spinner_picker.js' %}"></script>
<!-- Important to prevent mobile reloading when overscroll -->
<style>
    body {
        overscroll-behavior: contain;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'orbioUI/developer_style.css' %}">

<div class="navigator">
    <a href="/developer/" class="navigator-link">Developer Mode</a>
    <p class="navigator-text">></p>
    <p class="navigator-link">Set Heaters</p>
</div>


<div class="wrapper-center-row">

    <div class="heaters">
        <div class="heater">
            <p class="element-title">Heater 1</p>
            <p class="heater-temperature">current temp: <span class="heater-temperature-value" id="heater-temperature-value-1">20</span></p>
            <input class="quadratic-input heater-input" id="heater-temperature-input-1" type="number" placeholder="temp" min="20" value="20">
            <button class="heater-button text-button text-button-small" onclick="setTemp('1')">set</button>
        </div>
        <div class="heater">
            <p class="element-title">Heater 2</p>
            <p class="heater-temperature">current temp: <span class="heater-temperature-value" id="heater-temperature-value-2">20</span></p>
            <input class="quadratic-input heater-input" id="heater-temperature-input-2" type="number" placeholder="temp" min="20" value="20">
            <button class="heater-button text-button text-button-small" onclick="setTemp('2')">set</button>
        </div>
        <div class="heater">
            <p class="element-title">Heater 4</p>
            <p class="heater-temperature">current temp: <span class="heater-temperature-value" id="heater-temperature-value-4">20</span></p>
            <input class="quadratic-input heater-input" id="heater-temperature-input-4" type="number" placeholder="temp" min="20" value="20">
            <button class="heater-button text-button text-button-small" onclick="setTemp('4')">set</button>
        </div>
        <div class="heater">
            <p class="element-title">Heater 3</p>
            <p class="heater-temperature">current temp: <span class="heater-temperature-value" id="heater-temperature-value-3">20</span></p>
            <input class="quadratic-input heater-input" id="heater-temperature-input-3" type="number" placeholder="temp" min="20" value="20">
            <button class="heater-button text-button text-button-small" onclick="setTemp('3')">set</button>
        </div>
    </div>

</div>

<button class="home-button" onclick="homeElements()">Reset all temperatures</button>

<script>
    readTemps()

    function setTemp(heater){
        let str = 'heater-temperature-input-' + heater
        let temp = document.getElementById(str).value

        $.ajax({
            type: 'POST',
            url: '/set_temp/',
            data: {
                'heater': JSON.stringify(heater),
                'temp': JSON.stringify(temp),
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            success: async function() {let delayres = await delay(50); console.log('data received');}
        })

    }

    function readTemps(){
        let request = new XMLHttpRequest()
        let method = 'GET'

        let url = '/read_temps/'
        request.open(method, url)
        request.onload = function () {
            let response = JSON.stringify(request.response['temps']).split(',')
            let currentTemps = document.getElementsByClassName('heater-temperature-value')
            for(let i=0; i<currentTemps.length; i++){
                currentTemps[i].textContent = response[i]
            }
        }
        request.send()

        setTimeout(readTemps(), 3000)
    }

    function moveElement(element, dir){
        let str = 'element-steps-' + element
        let steps = document.getElementById(str).value
        str = 'element-position-' + element
        let currentPosElement = document.getElementById(str)
        let currentPos = parseInt(currentPosElement.innerHTML)
        let transformedDir = 0
        if(dir == 1){
            transformedDir = 1
        }
        else if(dir == 0){
            transformedDir = -1
        }
        let new_pos = steps * transformedDir + currentPos

        if(new_pos >= 0 && element != 'upperLayer' || new_pos <= 0 && element == 'upperLayer'){

            $.ajax({
                type: 'POST',
                url: '/move_element/',
                data: {
                    'element': JSON.stringify(element),
                    'dir': JSON.stringify(dir),
                    'steps': JSON.stringify(steps),
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success: async function() {document.getElementById(str).textContent = new_pos; let delayres = await delay(50); console.log('data received');}
            })
       }
    }


    function homeElements(){
        positions = document.getElementsByClassName('element-position-value')
        for(let i=0; i<positions.length; i++){
            positions[i].textContent = 0
        }


        $.ajax({
            type: 'POST',
            url: '/home_elements/',
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            success: async function() {let delayres = await delay(50); console.log('data received');}
        })
    }
</script>

{% endblock %}

