{% extends "orbioUI/base.html" %}

{% block content %}


{% load static %}


<script src="{% static 'orbioUI/spinner_picker.js' %}"></script>
<!-- Important to prevent mobile reloading when overscroll -->
<style>
    body {
        overscroll-behavior: contain;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'orbioUI/developer_style.css' %}">

<div class="navigator">
    <a href="/developer/" class="navigator-link">Developer Mode</a>
    <p class="navigator-text">></p>
    <p class="navigator-link">Set Heaters</p>
</div>


<div class="wrapper-center-row">

    <div class="heaters">
        <div class="heater">
            <p class="element-title">Heater 1</p>
            <p class="heater-temperature">current temp: <span class="heater-temperature-value" id="heater-temperature-value-1">20</span></p>
            <input class="quadratic-input heater-input" id="heater-temperature-input-1" type="number" placeholder="temp" min="20" value="20">
            <!--<button class="heater-button text-button text-button-small" onclick="setTemp('1')">set</button>-->
        </div>
        <div class="heater">
            <p class="element-title">Heater 2</p>
            <p class="heater-temperature">current temp: <span class="heater-temperature-value" id="heater-temperature-value-2">20</span></p>
            <input class="quadratic-input heater-input" id="heater-temperature-input-2" type="number" placeholder="temp" min="20" value="20">
            <!--<button class="heater-button text-button text-button-small" onclick="setTemp('2')">set</button>-->
        </div>
        <div class="heater">
            <p class="element-title">Heater 3</p>
            <p class="heater-temperature">current temp: <span class="heater-temperature-value" id="heater-temperature-value-4">20</span></p>
            <input class="quadratic-input heater-input" id="heater-temperature-input-3" type="number" placeholder="temp" min="20" value="20">
            <!--<button class="heater-button text-button text-button-small" onclick="setTemp('4')">set</button>-->
        </div>
        <div class="heater">
            <p class="element-title">Heater 4</p>
            <p class="heater-temperature">current temp: <span class="heater-temperature-value" id="heater-temperature-value-3">20</span></p>
            <input class="quadratic-input heater-input" id="heater-temperature-input-4" type="number" placeholder="temp" min="20" value="20">
           <!-- <button class="heater-button text-button text-button-small" onclick="setTemp('3')">set</button>-->
        </div>
    </div>

</div>

<button class="home-button" onclick="setTemps()">Set temperatures</button>

<script>
    readTemps()

    function setTemps(){
        let temp_inputs = document.getElementsByClassName('heater-input')
        let temps = []
        for(let i=0; i<temp_inputs.length; i++){
            temps[i] = temp_inputs[i].value
        }

        $.ajax({
            type: 'POST',
            url: '/set_temps/',
            data: {
                'temps': JSON.stringify(temps),
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            success: async function() {let delayres = await delay(50); console.log('data received');}
        })

    }

    function readTemps(){

        fetch('/read_temps/')
        .then((response) => response.json())
        .then(function(data){
            let temps = JSON.parse(data['temps'])
            let currentTemps = document.getElementsByClassName('heater-temperature-value')
            for(let i=0; i<currentTemps.length; i++){
                currentTemps[i].textContent = temps[i]
            }
        }

        );

        /*
        let request = new XMLHttpRequest()
        let method = 'GET'

        let url = '/read_temps/'
        request.open(method, url)
        request.onload = function () {
            let response = []
            try{
                console.log(request.response['temps'])
                let response = JSON.parse(request.response['temps']).split(',')
            }
            catch{
                response = []
            }
            console.log(response)
            let currentTemps = document.getElementsByClassName('heater-temperature-value')
            for(let i=0; i<currentTemps.length; i++){
                currentTemps[i].textContent = response[i]
            }
        }
        request.send()
        */

        setTimeout(readTemps, 2000);
    }


</script>

{% endblock %}

