{% extends "orbioUI/base.html" %}

{% block content %}


{% load static %}


<script src="{% static 'orbioUI/spinner_picker.js' %}"></script>
<!-- Important to prevent mobile reloading when overscroll -->
<style>
    body {
        overscroll-behavior: contain;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'orbioUI/developer_style.css' %}">

<div class="navigator">
    <a href="/production/" class="navigator-link">Cancel run</a>
</div>


<div id="pcr-run">
    <p class="text">Please insert a disk</p>
    <button class="text-button" onclick="startRun()">Disk inserted</button>
</div>


{% include 'orbioUI/heater_temps.html' %}

<script>
    function startRun(element, dir){
        let str = 'element-steps-' + element
        let steps = document.getElementById(str).value
        str = 'element-position-' + element
        let currentPosElement = document.getElementById(str)
        let currentPos = parseInt(currentPosElement.innerHTML)
        let transformedDir = 0
        if(dir == 1){
            transformedDir = 1
        }
        else if(dir == 0){
            transformedDir = -1
        }
        let new_pos = steps * transformedDir + currentPos

        if(new_pos >= 0 && element != 'upperLayer' || new_pos <= 0 && element == 'upperLayer'){

            $.ajax({
                type: 'POST',
                url: '/move_element/',
                data: {
                    'element': JSON.stringify(element),
                    'dir': JSON.stringify(dir),
                    'steps': JSON.stringify(steps),
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                success: async function() {document.getElementById(str).textContent = new_pos; let delayres = await delay(50); console.log('data received');}
            })
       }
    }
</script>

{% endblock %}

