{% extends "orbioUI/base.html" %}

{% block content %}


{% load static %}


<script src="{% static 'orbioUI/spinner_picker.js' %}"></script>
<!-- Important to prevent mobile reloading when overscroll -->
<style>
    body {
        overscroll-behavior: contain;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'orbioUI/developer_style.css' %}">

<div class="navigator">
    <a href="/production/" class="navigator-link">Cancel run</a>
</div>


<div id="pcr-run">
    <p class="text">Please insert a disk</p>
    <button class="text-button" onclick="startRun()">Disk inserted</button>
</div>


{% include 'orbioUI/heater_temps.html' %}

<script>
    function startRun(){

        let request = new XMLHttpRequest();
        let method = 'GET';
        let url = '/pcr_run_start/';
        request.open(method, url);
        request.onload = function () {
            let myHTML = request.response;
        document.getElementById('pcr-run').innerHTML = myHTML;
        };
        request.send();
    }
</script>

{% endblock %}

