{% extends "orbioUI/base.html" %}

{% block content %}


{% load static %}


<script src="{% static 'orbioUI/spinner_picker.js' %}"></script>
<!-- Important to prevent mobile reloading when overscroll -->
<style>
    body {
        overscroll-behavior: contain;
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'orbioUI/developer_style.css' %}">

<div class="navigator">
    <a href="/production/" class="navigator-link">Cancel run</a>
</div>


<div id="pcr-run">
    <p class="text">Please insert a disk</p>
    <button class="text-button" onclick="startRun()">Disk inserted</button>
</div>

<div id="pcr-run-started">
    {% include 'orbioUI/pcr_run_start.html' %}
</div>


{% include 'orbioUI/heater_temps.html' %}

<script>
    function startRun(){

        $.ajax({
            type: 'POST',
            url: '/pcr_run_start/',
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}'
            },
            success: async function() {
                let delayres = await delay(50);
                console.log('data received');
                document.getElementById('pcr-run').style.display = 'None';
                document.getElementById('pcr-run-started').style.display = 'block';
                }
        })
    }
</script>

<style>
    #pcr-run-started{
        display: None;
    }
</style>

{% endblock %}

